<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Project2</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css">


  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>

  <!-- Icons -->
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="static/css/leaflet.extra-markers.min.css">

  <!-- map CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/stylem.css">


</head>

<body>
  <div class="wrapper">
    <div class="container">
      <div class="row margin-top-50">
        <div class="col-md-2">
          <aside class="filters">
            <div class="panel panel-default">
              <div class="panel-heading">Filter Search</div>
              <div class="panel-body">
                <div class="form-group">
                  <ul class="list-group" id="filters">
                    <li class="price-filter list-group-item">
                      <label for="year">Enter a year</label>
                      <input class="form-control" id="Year" type="text" value="2017">
                    </li>
                    <li class="price-filter list-group-item">
                      <label for="city">Enter a city</label>
                      <input class="form-control" id="City" type="text" value="Irvine">
                    </li>
                    <li class="price-filter list-group-item">
                      <label for="county">Enter a county</label>
                      <input class="form-control" id="County" type="text" placeholder="County">
                    </li>
                    <li class="price-filter list-group-item">
                      <label for="state">Enter a State</label>
                      <input class="form-control" id="State" type="text" placeholder="State">
                    </li>
                    <li class=" list-group-item">
                      <button type="button" class="btn btn-default btn-filter">Click here to filter</button>
                    </li>
                  </ul>
                  
                </div>
              </div>
            </div>
          </aside>

  </div>
  


  <div id="map-area">
      <p>hi</p>
  </div>

  <div id="map-happinessvsrent">
    <p>hi</p>
</div>

  <div id="map_high20">
      <p>hi</p>
  </div>

  <div id=plot1>

  </div>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- D3 -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script> -->

  <!-- MomentJS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
   
  <!-- Leaflet JavaScript -->
   <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
   integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
   crossorigin=""></script>
  
   <!-- Icons -->
  <script src="{{ url_for('static', filename='js/leaflet.extra-markers.min.js') }}"></script>
  
  <!-- polyfill.io is library for using newer JavaScript features in older browers (such as Object.assign) -->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  
  <!-- API Key -->
  <script src="{{ url_for('static', filename='js/config.js') }}"></script>
  <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>
